body {
    /* background: url(https://source.unsplash.com/XB6YpNF1QuY); */
    background: url(https://source.unsplash.com/Ea8rP2Ebp_4);
    background-size: cover;
    background-position: 50% 45%;
    /* background-position: center; */
    font-family: Lato;
}

html {
    height: 100%
}
#content {
    color: whitesmoke;
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.2);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    
}